body {
    background: #fff;
}

/*Nav Bar*/
nav {
    background: #343a40;
}

nav {
    color: white;
    float: left;
    width: 100%;
}

h4 {
    margin: 0;
}

h5 {
    float: left;
    margin: 0;
}