body {
    background: #fff;
}

/*Nav Bar*/
nav {
    background: #343a40;
}

nav {
    color: white;
    float: left;
    width: 100%;
}

.h4,
h4 {
    margin-bottom: 0;
    float: left;
    padding: 15px;
}

h5 {
    float: left;
    margin-bottom: 0;
    padding: 15px;
}